<!--h1>トップページ</h1>
<p>Hello Ruby!</p-->

<%= form_tag top_path do %>
    <br />
    <table>
      <tr>
        <td class="main_dummy"></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td>
          <table id="top_form">
            <tr>
              <td><%= label_tag :name, 'ユーザー名： ' %></td>
              <td><%= text_field_tag :name, params[:name] %></td>
            </tr>
            <tr>
              <td><br /><%= submit_tag '次へ' %></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
<% end %>
