/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
    margin: 0;
    padding: 0;
}
body {
    width: auto;
    height: 100%;
    background-color: #dadbc0;
    line-height:1.4;
    color:#333;
    font-family:Arial, sans-serif;
    font-size:14px;
}
header, nav, main, article, aside, section, footer {
    display: block;
    /*border: 1px solid #ccc;  !*各ブロックに枠線 デバッグ用*!*/
    background-color: transparent;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    text-align: left;
    width: 99%;
    height: 60px;
    background-color: #dadbc0;
    z-index: 100;
}
header section h1 {
    color: #229c81;
    font-size: xx-large;
    background: linear-gradient(transparent 50%, white 50%);
}
nav {
    display: none;
    text-align: left;
    padding: 4px;
    position: fixed;
    top: 60px;
    left: 0;
    background-color: #dadbc0;
}
nav ul, nav li {
    list-style-type: none;
    display: inline;
    padding: 0 10px;
}
nav ul li a {
    color: white;
}
main {
    display: inline-block;
    vertical-align: top;
    width: 80%;
    min-height: 100vh;
    text-align: left;
}
article {
    display: inline-block;
    vertical-align: top;
    width: 49%;
    /*border: 2px solid #c0c0b0;*/
    margin-bottom: 10px;
    padding: 0 2px 2px 2px;
}
aside {
    display: inline-block;
    width: 18%;
    text-align: left;
}
aside ul {
    text-indent: 0.4em;
}
aside ul li {
    background-color: #229c81;
    border-bottom: 1px solid white;
    padding: 4px;
}
aside ul li:hover {
    background-color: gray;
}
aside ul li a {
    color: white;
    text-decoration: none;
}
aside ul li a:hover {
    text-decoration: underline;
}
h2 {
    padding: 4px;
    color: #229c81;
    background-image:-webkit-linear-gradient(-45deg, #ff4400 0%, #fff 6%, #fff 94%, #229c81 100%);
}
h3 {
    color: #229c81;
}
footer {
    clear: both;  /* articleとasideのfloatをクリア */
    width: auto;
    text-align: center;
    padding: 4px;
    font-size: 80%;
    background-color: white;
}

table {
    border-collapse: collapse;
}
tr {
    border-color: white;
    border-style: solid;
    border-width: 1px 0;
}
td, th {
    padding: 5px 10px;
}

.top-space {
    width: 99%;
    height: 62px;
}
.logo {
    width: 180px;
}
.flow {
    background-color: #229c81;
}
.menu {
    padding: 0;
}
.btn-flow {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background: #229c81;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    padding: 12px;
    outline: none;
}
.btn-flow--round {
    border-radius: 100px;
}
.btn-flow:hover {
    background: gray;
}
.line1 {
    width: 22px;
    height: 4px;
    background-color: white;
    top: 8px;
    right: 8px;
    position: absolute;
}
.line2 {
    width: 22px;
    height: 4px;
    background-color: white;
    top: 17px;
    right: 8px;
    position: absolute;
}
.line3 {
    width: 22px;
    height: 4px;
    background-color: white;
    top: 26px;
    right: 8px;
    position: absolute;
}
.line1,.line2,.line3 {
    transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out; /* Opera */
    -moz-transition: all 0.5s ease-out; /* Firefox */
    -webkit-transition: all 0.5s ease-out; /* GoogleChrome, Safari */
    -ms-transition: all 0.5s ease-out; /* IE */
}
.lineclick1 {
    top:17px;
    -o-transform: rotate(405deg);
    -moz-transform: rotate(405deg);
    -webkit-transform: rotate(405deg);
    -ms-transform: rotate(405deg);
    transform: rotate(405deg);
}
.lineclick2 {
    opacity:0;
}
.lineclick3 {
    top:17px;
    -o-transform: rotate(-405deg);
    -moz-transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg);
    -ms-transform: rotate(-405deg);
    transform: rotate(-405deg);
}
.btn-up {
    position: fixed;
    top: 10px;
    right: 70px;
    background: #229c81;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    padding: 2px 12px 2px 12px;
    outline: none;
}
.btn-up--round {
    border-radius: 100px;
}
.btn-up:hover {
    background: gray;
}
.btn-down {
    position: fixed;
    top: 30px;
    right: 70px;
    background: #229c81;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    padding: 2px 12px 2px 12px;
    outline: none;
}
.btn-down--round{
    border-radius: 100px;
}
.btn-down:hover{
    background: gray;
}
#notice {
    color: red;
}

/* ログアウトリンクを非表示 */
body.top li.link-logout {
    display: none;
}
body.logins li.link-logout {
    display: none;
}

@media (max-width: 1000px) {
    main {
        width: 81%;
    }
    article {
        width: 99%;
    }
}
@media (max-width: 768px) {
    aside {
        width: 99%;
    }
    main {
        width: 100%;
    }
    article {
        width: 99%;
        margin-top: 2px;
        padding: 0;
    }
}
