// リストの横表示
ul.input-list {
  width: 220px;

  li {
    display: inline-block;

    a {
      img {
        opacity: 0.6 ;
        transition: 0.5s ;
      }
    }
    a:hover {
      img {
        //  visibility: hidden;
        opacity: 1.0 ;
      }
    }
  }

  // 選択不可にする対応
  -ms-user-select: none; /* IE 10+ */
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  user-select: none;
}
