
// リストの横表示
ul.input_list {
  display:table;
  table-layout:fixed;
  width:200px;
  padding-bottom: 4px;

  li {
    display:block;
    float:left;
    vertical-align:middle;
    text-align:left;
    background-color: white;
    border-left:1px solid white;

    a {
      display:block;
      text-decoration:none;
      color:white;

      img {
        opacity: 0.6 ;
        transition: 0.5s ;
      }
    }
    a:hover {
      img {
        //  visibility: hidden;
        opacity: 1.0 ;
      }
    }
  }
  li:first-child {
    border:none;
  }

  // 選択不可にする対応
  -ms-user-select: none; /* IE 10+ */
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  user-select: none;
}
